@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 70%;
}
h1{
	text-align: center;
}

#content1 {
    
    
    line-height: 45px;
    text-indent: 2em;
    padding: 0 20px;
}

#content1 p {
    padding: 0 35px;
}
