@charset "utf-8";
/* CSS Document */


* {
	margin: 0;
}
li{
	padding-right: 30px;
}
#layout {
    width: 800px;
    margin: 0 auto;
    background-color: aliceblue;
	
}
	header{
		padding: 30px 0;
	}
	nav {
    background-color: chocolate;
		
}
nav ul {
    list-style-type: none;
	
}
nav ul li {
    display: inline;
	margin: 0;
	
}
section {
    background-color: darkgrey;
}
	#h{
		text-align: center;
		
	}
	.text{
		text-indent: 2em;
		padding-bottom: 60px;
	}
	section li{
		display: inline;
			}
footer {
 background-color:cadetblue;
}
	footer li{
		display: inline;
		
	}

