@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: font;
	src: url("font/FZJZJW.TTF")
		
		
}
body{
	background-color: darkgray;
}
#layout{
	
	background-color: white;
}
h3{
	text-decoration: underline;
	font-family: font;
	text-align: center;
	font-weight: bold;
}
p{
	text-indent: 2em;
	;
}

.green{
	font-style: italic;
	color: green;
	line-height: 200%
}
.blue{
	color:blue;
	font-style: italic;
}