@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
.login{
	width:400px;
	height:300px;
	border:1px solid #ccc;
	margin:20px;
}
.login h2{
	margin:15px 0 20px 0;
	text-align:center;
	color:#e4393c;
}
form{
	margin-left:30px;
}
div.username,div.password {
	border: 1px solid #bdbdbd;
	height: 38px;
	width: 304px;
	margin-bottom: 20px;
	position: relative;
}
div label {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 38px;
	height: 38px;
	border-right: 1px solid #bdbdbd;
}
div.username label{
	background:url(../images/pwd-icons-new.png) 0 0 no-repeat;
}
div.password label{
	background:url(../images/pwd-icons-new.png) -48px 0 no-repeat;
}
div.username input,div.password input{
	position:absolute;
	left:38px;
	top:0;
	width:254px;
	height:18px;
	padding:10px 0 10px 12px;
}
div.sub input{
	width:304px;
	height:38px;
	background: #e4393c;
	border:none;
	border-radius:5px;
	color:#fff;
font-size: 20px;
font-family: 'Microsoft YaHei';
}