@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}
img {
	width: 420px;
	height: 300px;
}
figure {
	width: 400px;
	height: 300px;
	overflow: hidden;
	position: relative;
	color: #fff;
}
p, img,div {
	transition: all 0.5s;
}
figure.one {
	background: green;
}
figure.one figcaption {
	position: absolute;
	top: 0;
	left: 0;
}
figure.one figcaption p {
	transform: translate(-300px, 0);
}
figure.one:hover figcaption p {
	transform: translate(0, 0);
}
figure.one:hover figcaption p:nth-of-type(1) {
	transition: 0.5s;
}
figure.one:hover figcaption p:nth-of-type(2) {
	transition: 1s;
}
figure.one:hover img {
	transform: translate(-20px, 0);
	opacity: 0.8;
}
/*==========================================*/
figure.two figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
}
figure.two p {
	transform: translate(0, 120px);
	opacity: 0;
}
figure.two:hover p {
	transform: translate(0, 0);
	opacity: 0.8;
}
figure.two div {
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	position: absolute;
	top:0;
	left:0;
	transform:translate(0, -300px) rotate(0deg);
}
figure.two:hover div{
	transform:translate(0,0) rotate(360deg);
}
/*======================================*/
figure.three{
	background:#f00;
}
figure.three figcaption{
	position:absolute;
	width:80%;
	height:80%;
	top:10%;
	left:10%;
}
figure.three figcaption div{
	width:100%;	
	height:100%;
	position:absolute;
	border:1px solid #fff;
	top:0;
	left:0;
}
figure.three:hover img{
	transform:translate(-20px,0) scale(1.5,1.5);
	opacity:0.7;
}
figure.three div{
	transform:scale(2,2);
}
figure.three:hover div{
	transform:scale(1,1);
}