@charset "utf-8";
/* CSS Document */

ul li{
	background-color: #666;
	width: 80px;
	height: 30px;
	list-style: none;
	border: 1px solid;
	text-align: center;
}

ul li a{
	color: white;
	
	text-decoration: none;
}
ul li:hover a{
	color: black;
}
ul li:hover{
	background-color: #888;
}