@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
div{
	height: 600px;
	width: 600px;
	border: 10px solid #666;
	border-radius: 50%;
	background-image: repeating-radial-gradient(#000,#444 1%);
}

ul{
	margin: 70px auto;
	border-radius: 10px;
	background: #fff;
	height: 450px;
	width: 350px;
	
}

.tp{
	background: white;
	background-image: url("../images/yinyue.jpg"),url("../images/wenzi.jpg");
	background-repeat: no-repeat;
	background-position: 87px 16px,99px 192px;
	height: 250px;
	
	border-radius: 10px 10px 0 0;
}

li{
	background: #777 url("../images/yinfu.png");
	background-repeat: no-repeat;
	background-position: 90px 10px;
	list-style: none;
	border-bottom: 1px solid white;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	
}
li:last-child{
	border-radius:0 0 10px 10px;
	border-bottom: 0;
}